@model PortailIEPSM.Areas.Groupe_2.Models.Admin
@section Styles {
    <link href="~/css/css_groupe2/styles.css" rel="stylesheet" />
}
<div class="login-box">
    @if (Model.Confirmation.Code != 0)
    {
        <div class="alert alert-@(Model.Confirmation.Code == 1 ? "danger" : "success") alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4><i class="icon fa @(Model.Confirmation.Code == 1 ? "fa-ban" : "fa-check")"></i> @(Model.Confirmation.Code == 1 ? "Erreur" : "Confirmation")</h4>
            @Model.Confirmation.Message
        </div>
    }
    <div class="login-logo">
        <a href="#"><b>Administation</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Connectez-vous pour accéder à l'administration</p>

            <form method="post">
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Adresse e-mail">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Mot de passe">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <!-- /.col -->

                    <button type="submit" class="btn btn-primary btn-block">Connexion</button>

                    <!-- /.col -->
                </div>
            </form>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
