@{
    ViewData["Title"] = "Accueil - Groupe 6";
}

<div class="text-center">
    <h1 class="display-4">Groupe n°6 : Joshua, Alex, Jonathan</h1>
</div>


<div style="margin:20px">
    <span>Projet 4 : Gestion de contacts (Nom, Prénom, Adresse, Téléphone, Mail, …) </span>
    <ul>
        <li>Une page qui affiche tous les contacts (avec possibilité de rechercher un contact)</li>
        <li>Une page permettant de  gérer  les contacts (Ajout, Suppression, Modification…)</li>
    </ul>

</div>